/* Add application styles & imports to this file! */
@media screen and (min-width: 480px) {
  body {
    height: 100vh;
  }
}
  header {    
    text-align: center;
  }
  h1 {
    font-size: 36px;
    font-family: "Verdana";  
    
  }  
  h5 {
  letter-spacing: 0.15em;  
  font-size: "14px";
  font-family: "Verdana";
  color: rgb(255,67,98);
  font-weight: 700;
  }  
  p {
  text-align: center;  
  color: grey;
  font-size: 14px;
  line-height: 2;
  }
  .desc{
    margin-bottom: 50px;
  }
  
.flex-container {
  display: flex;
  justify-content: center;  
}
.flex-container div span {
  display:block;
  text-align: center;
}
.flex-container > div {
  margin: 10px;
  padding: 11px;   
}
.flex-container div span img{
  width:100px;
  height:100px;
  margin-bottom: 20px;
}
.logo1{
  color: rgb(255,67,97);  
}
.logo2{
  color: rgb(69,177,225);  
}
.logo3{
  color: rgb(214,171,0);  
}
.logo4{
  color: rgb(64,151,95);
}
.logo5{
  color: rgb(88,86,214);
 }
.logo{
 font-size: 14px;
 font-weight: bold;
 font-family: "Verdana";
}